@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; 
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: gray;
  background: #fcfcfc; 
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; 
}

.offcanvas #page {
  overflow: hidden;
  position: absolute; 
}

.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: ""; 
}

#time-navbar {
  margin-top: 70px;
}

a {
  color: #a2dc4d;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; 
}

a:hover, a:active, a:focus {
  color: #a2dc4d;
  outline: none;
  text-decoration: none; 
}

p {
  margin-bottom: 20px; 
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  line-height: 1.3; 
}

#why-question h3 {
  color: gray;
  font-weight: 200;
}

::selection {
  color: #fff;
  background: #a2dc4d; 
}

@media (max-width: 768px) {
  .home-navbar {
    margin: 0 auto;
    padding-top: 2em;
    background: #000000; 
  }
}

@media (min-width: 768px) {
  .home-navbar {
    margin: 0 auto;
    padding-top: 2em;
    background: #000000; 
    border-bottom: 2px solid gray;
  }
}

.home-navbar #title {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700; 
}

.home-navbar #title a {
  position: relative;
  color: #fff; 
}

#nav-why {
  background-color: #000000;
}

.intro {
  background: #000000; 
}

#intro-why {
  background: url(../images/prism-bigger.gif) no-repeat center;
  background-size: cover;
  background-position: 50% calc(50% + 100px);
  height: 400px;
}

#team {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: lightgray;
}

.intro h1 {
  color: #fff;
  font-weight: 900; 
}

.team-img {
  display: block;
  margin: auto;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius:50%;
}

.team-img img {
  width: 100%;
  height: auto;
}

#leandro {
  margin-top: -80px;
}

#jonathan {
  margin-top: -85px;
}

#thejas {
  margin-top: -85px;
}

.intro {
  padding: 7em 0;
  clear: both; 
}

.intro p {
  font-size: 20px;
}

#newsnetworks {
  padding: 2em 0;
}

#steps {
  padding: 5em 0;
}

#steps .row p {
  font-size: 20px;
}

#why-steps {
  clear: both;
}

#newsnetworks-title {
  padding: 2em 0;
}

.step {
  margin-bottom: 30px;
  position: relative;
}

#why-answer {
  padding-top: 2em;
}

#why-answer h3 {
  font-size: 20px;
  color: gray;
}

#why-question {
  padding-top: 3em;
}

.step .icon {
  position: relative;
  display: block;
  margin-bottom: 20px; 
}

@media (max-width: 800px) {
  .step .picture-left img {
    width: 300px;
    height: 300px; 
    margin-left: auto;
    margin-right: auto;
    position: center;
    display: block;
    margin-bottom: 20px; 
  }

  .step .picture-right img {
    width: 300px;
    height: 300px; 
    margin-left: auto;
    margin-right: auto;
    position: center;
    display: block;
    margin-bottom: 20px; 
  }
}

@media (min-width: 800px) {
  .step .picture-left img {
    width:300px;
    height:300px; 
    margin-right:20px;
    float: left;
    position: relative;
    display: block;
    margin-bottom: 20px; 
  }

  .step .picture-right img {
    width:300px;
    height:300px; 
    margin-left:20px;
    float: right; 
    position: relative;
    display: block;
    margin-bottom: 20px; 
  }
}

@media (min-width: 800px) {
  #pastList {
    position: relative;
    margin-left: 300px;
  }
}

.step .icon i {
  font-size: 80px;
  color: #333333;
}

.step .desc h3 {
  font-size: 24px;
  font-weight: 300; 
}

.step .desc p {
  font-size: 20px;
}

#team .step .desc {
  vertical-align: middle;
  font-size: 20px;
  color: #4b4a4a;
}

#team .step .desc a {
  color: #89bd3a;
}

.network-entry {
  display: block;
  height: 450px;
  width: 100%; 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; 
  margin-bottom: 1.5em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
  border-radius: 10px;
}

.network-entry .desc {
  width: 100%;
  height: 450px;
  display: block;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; 
}

.network-entry .desc h2 {
  font-size: 22px;
  font-weight: 700; 
}

.network-entry .desc .display-t {
  width: 100%;
  display: table;
  height: 450px; 
}

.network-entry .desc .display-tc {
  display: table-cell;
  vertical-align: middle; 
}

.network-entry:hover .desc {
  opacity: 1; 
}

footer {
  display: flex;
  margin-top: 3em;
  background: #000000;
  min-width: 100%;
  max-width: 100%;
}

footer p {
  margin-top: 15px;
  color: #fff;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 2px;
  transition: 0.5s;
  padding: 8px 20px; 
}

.btn-primary {
  background: #a2dc4d;
  color: #fff;
  border: 2px solid #a2dc4d; 
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #ade062 !important;
  border-color: #ade062 !important; 
}

.btn-primary.btn-outline {
  background: transparent;
  color: #a2dc4d;
  border: 2px solid #a2dc4d; 
}

.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #a2dc4d;
  color: #fff; 
}

.js .animate-box {
  opacity: 0; 
}
